
body {
align-content: center;

}

header {
color: whitesmoke;
background-color: navy;

}

.main-weather {
    border-style: solid;
    border-color: navy;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
 }

/* #city-history { */

 

/* .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    
} */

/* .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border-style: solid;
} */

.five-day {
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}